@media (min-width: 800px) {

    /* Navigation menu list items */
    .navigation a {
        flex: 1 1 100%;
        padding: .5rem;
    }

    /* Navigation menu */
    .navigation {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
}