@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

:root {
    --primary-color: #8EB5CD;
    --secondary-color: #85B36B;
    --accent1-color: #ffb703;
    --accent2-color: #D6CBD9;
    --accent3-color: #F2CA92;
}

/* Entire page */
body {
    background-color: var(--accent2-color);
}

/* Title */
header {
    font-family: 'Lato', sans-serif;
    background-color: var(--secondary-color);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

/* Navigation menu */
nav {
    margin-bottom: .2rem;
    font-size: x-large;
    display: block;
    padding: .5rem;
}

/* Navigation menu items hover */
nav a:hover {
    background-color: var(--secondary-color);
    color: black;
    font-weight: 700;
}

/* Main image */
#hero-img {
    display: grid;
    width: 100%;
    margin-bottom: 20px;
}

/* Section headings */
h2 {
    font-family: 'Lato', sans-serif;
    background-color: var(--primary-color);
    text-align: center;
    border: 1px solid black;
    border-radius: .5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Main content of the page */
main {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    grid-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

/* All list items */
ul {
    list-style-type: none;
}

/* All links */
a:link, a:visited {
    color:black;
    text-decoration: none;
}

/* Footer, copyright, name, sate, etc */
footer {
    background-color: var(--accent1-color);
    text-align: center;
    border-radius: .5rem;
    padding-top: 1px;
    padding-bottom: 1px;
    grid-column: 1/-1;
}

/* Dark mode button */
#mode {
    position: absolute;
	cursor: pointer;
    font-size: 3rem;
    font-size: 2rem;
}

.sidebar {
    padding: 10px;
}

/* The active window icon */
.active::before {
    content: "🔰 ";
}


.weather-forecast, #weather-current {
    border: 10px groove var(--primary-color);
    border-radius: .5rem;
}

#weather-forecast, #weather-current, .weather-title{
    font-size: 1.3em;
}

.weather-title{
    font-size: 1.5em;
}

.weather-forecast:hover, #weather-current:hover, .events:hover {
    background-color: var(--accent3-color);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.weather-forecast {
    margin: 0 1rem 1rem 1rem;
}

#announcement {
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    border: 8px groove var(--accent2-color);
    font-family: 'Lato', sans-serif;
    background-color: var(--accent3-color);
}

.close-button {
    background-color: var(--accent3);
    cursor: pointer;
    font-size: x-large;
}

.events {
    text-align: left;
    padding: .5rem;
    margin: 1rem; 
    border: 8px groove #8ecda3;
    font-size: 17px;
    
}

/**************** Directory Page ****************/

.menu {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: .2rem;
  background-color: var(--primary-color);
  text-align: center;
}

.menu button {
  padding: 1rem;
  font-weight: 700;
}

#cards {
  display: grid;
  grid-gap: 5px;
  align-items: center;
}

#cards section {
  text-align: center;
  margin-bottom: .3rem;
  padding: 0.5rem;
  background-color: white;
}

#cards img {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #333;
  height: 75px;
  max-width: 100%;
}

#cards section > * {
  margin: 0.1rem;
}

.list-directory section {
  display: grid;
  gap: 10px;
  padding: 0.25rem;
  width: 100%;
}

.list-directory section > * {
  margin: 0 1rem;
}

#cards section p {
  font-weight: 600;
  font-size: smaller;
}

#cards section a {
  font-size: 0.85rem;
  letter-spacing: 1.1pt;
}

/**************** Small View (mobile) ****************/

/* Title section */
header{
    display: grid;
    grid-template-columns: 90% 10%;
    padding-bottom: 2rem;
}

/* Title */
h1 {
    font-size: 1.5rem;
}

/* Navigation menu icon position, color, size etc. */
#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: var(--accent1-color);
    color: #000;
    position: static;
    aspect-ratio: 1/1;
    margin-right: 10px;
    cursor: pointer;
}

/* Navigation menu icon open */
#menu::before {
    content: "☰";
}

/* Navigation menu icon close */
#menu.open::before {
    content: "❌";
    font-size: 90%;
}

/* Navigation menu */
nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--primary-color);
    display: none;
}

/* Navigation menu list items */
nav a {
    display: block;
    padding: .5rem;
    text-align: center;
}

/* Opens the navigation menu */
.open {
    display: flex;
}

/* Hero image */
.hero img, .discover-img{
    margin-top: 10px;
    width: 100%;
    height: auto;
}

/* Dark mode button */
#mode {
	top: 3rem;
	right: .5rem;
}

/**************** Discover Page ****************/


/**************** Join Page ****************/

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-------------FORM----------------*/

form fieldset{
    margin: 2rem 0;
    border: 10px solid var(--secondary-color);
    border-radius: 10px;
    padding: 0.5rem 2%;
    text-align: left;
}

form legend{
    background-color: var(--secondary-color);
    margin: 0 1rem;
    padding: 0 .5rem;
}

legend {
    font-weight: bold;
    color: #333;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: #3f2d00;
}

form label input, form label select{
    display: block;
    font-size: 1rem;
    border: #D6CBD9;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    background-color: #bdaec0;
}

.description {
    width: 100%;
    background-color: transparent;
}

.sbs {
    display: block;
    text-align: center;
    padding: .7rem;
    margin: 0 1rem 0 0 ;
    cursor: pointer;
}

.submitBtn {
    background-color: var(--secondary-color);
    padding: 20px 20px;
    width: 100%;
    margin-bottom: 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.submitBtn:hover {
    background-color: var(--primary-color);
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

#thankyou-main {
    display: block;
}

/**************** Directory Page ****************/

.list-directory section img {
    display: none;
}

#cards {
    margin: auto;
}