@media (min-width: 800px) {

    /* Navigation menu list items */
    .navigation a {
        flex: 1 1 100%;
        display: flex;
        padding: .5rem;
        text-align: center;
        justify-content: center;
    }

    /* Main content of the page */
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    
    /* Current events card */
    #current-events {
        grid-column: 1/2;
    }

    /* Spotlight card */
    #spotlight {
        grid-column: 1/-1;
    }

    /* Hero image */
    .hero {
        margin-top: 30px;
        width: 100%;
        height: auto;
        grid-column: 1/3;
    }

    /* hide menu button */
    #menu {
        display: none; 
    }

    /* Navigation menu */
    .navigation {
        display: flex;
        flex-direction: row;
        background-color: var(--primary-color);
        text-align: center;
        align-items: center;
    }

    /* Join button */
    #join {
        position: absolute;
        top: 14.8%;
        left: .5%;
        font-size: large;
        background-color: var(--secondary-color);
    }
    
    /* Dark mode button */
    #mode {
        top: 1rem;
        right: 1rem;
    }

    /**************** Discover Page ****************/

    .main-discover {
        display: grid;
        grid-template-columns: 400px 1fr;
    }

    .sidebar {
        grid-column: 1/2;
        max-width: 700px;
    }

    .imagesarea {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 20px;
    } 

    .imagesarea img:hover{
        box-shadow: 0 0 80px var(--accent1-color);
    }

    .discover-img{
        width:100%;
        height: auto;
        display: flex;
    }

    /**************** Join Page ****************/

    .description {
        width: 100%;
    }

    .sbs {
        padding: 1rem;
    }

}