@media (min-width: 800px) {

    /* Navigation menu list items */
    .navigation a {
        flex: 1 1 100%;
        display: flex;
        padding: .5rem;
        text-align: center;
        justify-content: center;
    }

    /* Main content of the page */
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    #hero-img, #spotlight {
        grid-column: 1/-1;
    }

    /* hide menu button */
    #menu {
        display: none; 
    }

    /* Navigation menu */
    .navigation {
        display: flex;
        flex-direction: row;
        background-color: var(--primary-color);
        text-align: center;
        align-items: center;
    }

    #join {
        position: absolute;
        top: 14.2%;
        left: .5%;
        font-size: large;
        background-color: var(--secondary-color);
    } 
    
    /* Dark mode button */
    #mode {
        top: 1rem;
        right: 1rem;
    }
}