@media (min-width: 650px) {

    /* Navigation menu list items */
    .navigation a {
        flex: 1 1 100%;
        display: flex;
        padding: .5rem;
        text-align: center;
        justify-content: center;
    }

    /* Main content of the page */
    main{
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    /* hide menu button */
    #menu {
        display: none; 
    }

    /* Navigation menu */
    .navigation {
        display: flex;
        flex-direction: row;
        background-color: #8EB5CD;
        text-align: center;
        align-items: center;
    }

    #join {
        position: absolute;
        top: 19%;
        left: 1.5%
    }
    
}