@media screen and (501px <= width <= 799px) {

    header {
        padding: .5rem;
    }

    /* Main content of the page */
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    /* Current events card */
    #current-events {
        grid-column: 1/-1;
    }

    /* Spotlight card */
    #spotlight {
        grid-column: -1/2;
    }

    /* hide menu button */
    #menu {
        display: none; 
    }

    /* Navigation menu */
    .navigation {
        display: flex;
        flex-direction: row;
        background-color: var(--primary-color);
        align-items: center;
    }
    
    /* Dark mode button */
    #mode {
        top: 1rem;
        right: 1rem;
    }

    /* Hero image */
    .hero {
        margin-top: 10px;
        width: 100%;
        height: auto;
        grid-column: 1/3;
    }

    .close-button {
        margin-left: 1rem;
    }

    /**************** Discover Page ****************/
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    .main-discover {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sidebar {
        grid-column: 1/2;
        max-width: 300px;
    }

    .imagesarea {
        gap: 10px;
        padding: 20px;
    } 

    .imagesarea img:hover{
        box-shadow: 0 0 40px var(--accent1-color);
    }

    .discover-img{
        width:100%;
        height: auto;
        display: flex;
    }

    /**************** Directory Page ****************/
    .menu {
        grid-column: 1/4;
        padding: 0.5rem;
        text-align: center;
    }

    .grid-directory {
        display: grid;
        grid-gap: 5px;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/4;
    }

    .list-directory section {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
    }
}