@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Yanone+Kaffeesatz&display=swap');

/* Top portion with name and picture */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #84AE98;
}

/* Text within the header (name) */
h1 {
    font-family: 'IBM Plex Sans', 'Yanone Kaffeesatz', sans-serif;
    margin: auto;
}

/* Navigation menu */
nav {
    margin-bottom: 30px;
    background-color: #F2CA92;
    font-size: x-large ;
}

/* Navigation menu */
nav a {
    display: block;
    padding: .5rem;
}

/* Navigation menu links */
a:link, a:visited {
    color:black;
    text-decoration: none;
}

/* The web development banner */
h2 {
    color:#1F363D;
    text-decoration-line: underline;
}

/* Learning Activities and Information section headings */
h3 {
    background-color: #84AE98;
    padding: 10px;
}

/* Learning Activities and Information sections */
main {
    font-family: 'IBM Plex Sans', 'Yanone Kaffeesatz', sans-serif;
    grid-column:auto;
    color: black;
}

/* The items under Learning Activities */
.card-list {
    list-style-type: none;
    text-align: center;
}

/* Footer, copyright, name, sate, etc */
footer {
    background-color: #DA9781;
}

/* Profile picture */
img {
    max-width: 65%;
    height: 65%;
    margin: auto;
}

/* Makes everything uniform */
header, nav, main, footer{
    max-width: 600px;
    margin: auto;
}

/* Makes everything uniform */
h1, h2, h3, nav, footer {
    text-align: center;
}