@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Yanone+Kaffeesatz&display=swap');

/* Top portion with name and picture */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #84AE98;
}

/* Text within the header (name) */
h1 {
    font-family: 'IBM Plex Sans', 'Yanone Kaffeesatz', sans-serif;
    margin: auto;
}

/* Navigation menu */
nav {
    margin-bottom: 30px;
    background-color: #F2CA92;
    font-size: x-large ;
}

/* Navigation menu */
nav ul li {
    display: block;
    padding: .5rem;
}

/* Navigation menu links */
a:link, a:visited {
    color:black;
    text-decoration: none;
}

/* The web development banner */
h2 {
    color:#1F363D;
    border-bottom: 1px solid black;
}

/* Learning Activities and Information section headings */
h3 {
    background-color: #84AE98;
    padding: 10px;
}

/* Learning Activities and Information sections */
main {
    font-family: 'IBM Plex Sans', 'Yanone Kaffeesatz', sans-serif;
    color: black;
    text-align: center;
    display: grid;
}

/* Allows banner to span across the columns */
main h2 {
    grid-column: 1/-1;
} 

/* The items under Learning Activities */
ul {
    list-style-type: none;
}

/* Footer, copyright, name, sate, etc */
footer {
    background-color: #DA9781;
}

/* Profile picture */
img {
    max-width: 200px;
    height: auto;
    margin: auto;
}

/* Makes everything uniform */
header, nav, main, footer{
    max-width: 800px;
    margin: auto;
}

/* Makes everything uniform */
h1, h2, h3, nav, footer {
    text-align: center;
}

/* Google map */
#google-map {
    display: block;
    margin: auto;
    padding-bottom: 30px;
}


/******** Small View (mobile) ********/

/* Name */
h1 {
    font-size: 1.5rem;
    margin-left: 1rem;
}

/* Web development banner */
h2 {
    font-size: 1.2rem;
    margin: 1rem;
}

/* Navigation menu icon position, color, size etc. */
#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* Navigation menu icon open */
#menu::before {
    content: "☰";
}

/* Navigation menu icon close */
#menu.open::before {
    content: "❌";
}

/* Navigation menu */
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #F2CA92;
    display: none;
}

/* Navigation menu list items */
.navigation li a {
    display: block;
    padding: .5rem;
    text-align: center;
}

/* Navigation menu items hover */
.navigation li a:hover {
    background-color: #84AE98;
    color: black;
    font-weight: 700;
}

/* Opens the navigation menu */
.open {
    display: flex;
}

/* The active window icon */
.active::before {
    content: "🔰 ";
}

/* The google map */
#google-map {
    display: block;
    margin: auto;
    padding-bottom: 30px;
    max-width: 400px;
}