@media (min-width: 800px) {

    /* Picture of me */
    #profile {
        width: 20%;
        height: auto;
        margin: auto;
    }

    /* Learning Activities and Information sections */
    main{
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    /* hide menu button */
    #menu {
        display: none; 
    }

    /* Navigation menu */
    .navigation {
        display: flex;
        flex-direction: row;
        background-color: var(--secondary-color);
        text-align: center;
        align-items: center;
    }

    .navigation a {
        flex: 1 1 100%;
        display: flex;
        padding: .5rem;
        text-align: center;
        justify-content: center;
    }


    /* Google map */
    #google-map {
        max-width: 600px;
    }

    .hero img{
        width: 200%;
        /* width: 100%; */
        height: auto; 
    }

}

/* Top, middle and bottom portions */
header, main, footer {
    padding: 10px;
}

.stuff {
    margin: 1rem auto;
}

